HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### SSL Certificates (开发环境自签名证书，生产证书不应忽略) ###
src/main/resources/ssl/keystore.p12
src/main/resources/ssl/*.p12
src/main/resources/ssl/*.key
src/main/resources/ssl/*.csr
src/main/resources/ssl/*.crt
src/main/resources/ssl/*.pem
!src/main/resources/ssl/README.md
